*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#app{
    // background-size: contain;
    width:100%;
    background-repeat: no-repeat;
    text-align: center;
    display:flex;
    justify-content: center;
}
#title{
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0 2rem 0 ;
}
#filter-div{
text-align: center;
}
#filter{
    height:2rem;
    font-size:1rem;
    padding-left: 0.3rem;
    border-radius: 0.6rem;
    margin-right: 0.5rem;
    outline:none;
    // text-align: center;
}
#filter-button:hover{
cursor: pointer;
}
#filter-button{
    // background-color: #fb3431;
    display: inline-block;
    border: none;
    font-weight: bold;
    font-size:1rem;
    border-radius: 0.6rem;
    outline: none;
}
.property {
    margin: 2rem;
}
#main-data {
    margin: 0 15rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    }
.catch-release{
    background-color: #525252; /* Green */
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 7px;
}


.main-image {
    order: 0;
   
    // width:50vw;
    flex: 0 1 auto;
    align-self: auto;
    
    }
    .image{
        height: '400px';
        width: '400px';
    }
/* .main-data{
    display: flex;
    align-items: center;
    flex-direction: row;
} */
.stats{
display: flex;
width: 30vw;
}
#values{
    width: fit-content;
}
.catch-release{
    
}
.catched-pokemon{
    // 
    border: 0.2rem solid black;
    border-radius: 50%;
    margin: 0.2rem;
    // border-image: linear-gradient(90deg, #bd1833 50%, #fafafa 50%);
    // height: 100%;
    // background-size: 47%, 6%, 47%;
    background: linear-gradient(180deg, #fb3431 47%, #000000 6%, #fafafa 47%);
    
}
.webcam{
    margin: 0;
    width: 18rem;
}
.collection{
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    width: 110px;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 1rem;
}
.collection::-webkit-scrollbar {
    display: none;
}
#type-list-title{
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem;
}
#type-list{
    padding: 2rem 7.5rem 4rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.pokemon {
    color: white;
    width:fit-content;
    font-weight: bold;
    margin: 1rem;
    list-style: none;
}
#types-value{
    display: flex;
    flex-direction:row;
}
.type{
    display: flex;
    place-items: center;
    border-radius:0.6rem;
    margin-right: 0.3rem;
    padding: 0.2rem 0.6rem;
    
    width:fit-content;
    color:white;
    text-align: center;
}
.normal {
    background-color: #aa9
}

.fire {
    background-color: #f42
}

.water {
    background-color: #39f
}

.electric {
    background-color: #fc3
}

.grass {
    background-color: #7c5
}

.ice {
    background-color: #6cf
}

.fighting {
    background-color: #b54
}

.poison {
    background-color: #a59
}

.ground {
    background-color: #db5
}

.flying {
    background-color: #89f
}

.psychic {
    background-color: #f59
}

.bug {
    background-color: #ab2
}

.rock {
    background-color: #ba6
}

.ghost {
    background-color: #66b
}

.dragon {
    background-color: #76e
}

.dark {
    background-color: #754
}

.steel {
    background-color: #aab
}

.fairy {
    background-color: #e9e
}

.curse {
    background-color: #698
}
.ugly {
    background-color: rgb(116, 73, 9)
}


@media (max-width: 768px){
    #main-data {
        flex-direction: column-reverse;
    }
}