* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0 2rem 0;
}

#filter-div {
  text-align: center;
}

#filter {
  height: 2rem;
  font-size: 1rem;
  padding-left: 0.3rem;
  border-radius: 0.6rem;
  margin-right: 0.5rem;
  outline: none;
}

#filter-button:hover {
  cursor: pointer;
}

#filter-button {
  display: inline-block;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.6rem;
  outline: none;
}

.property {
  margin: 2rem;
}

#main-data {
  margin: 0 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catch-release {
  background-color: #525252;
  /* Green */
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 7px;
}

.main-image {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.image {
  height: '400px';
  width: '400px';
}

/* .main-data{
    display: flex;
    align-items: center;
    flex-direction: row;
} */
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
}

#values {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img:before,
img:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.catched-pokemon {
  border: 0.2rem solid black;
  border-radius: 50%;
  margin: 0.2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #fb3431), color-stop(6%, #000000), color-stop(47%, #fafafa));
  background: linear-gradient(180deg, #fb3431 47%, #000000 6%, #fafafa 47%);
}

.webcam {
  margin: 0;
  width: 18rem;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow: scroll;
  width: 110px;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.collection::-webkit-scrollbar {
  display: none;
}

#type-list-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 2rem;
}

#type-list {
  padding: 2rem 6rem 4rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pokemon {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  margin: 1rem;
  list-style: none;
}

#types-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  border-radius: 0.6rem;
  margin-right: 0.3rem;
  padding: 0.2rem 0.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  text-align: center;
}

.normal {
  background-color: #aa9;
}

.fire {
  background-color: #f42;
}

.water {
  background-color: #39f;
}

.electric {
  background-color: #fc3;
}

.grass {
  background-color: #7c5;
}

.ice {
  background-color: #6cf;
}

.fighting {
  background-color: #b54;
}

.poison {
  background-color: #a59;
}

.ground {
  background-color: #db5;
}

.flying {
  background-color: #89f;
}

.psychic {
  background-color: #f59;
}

.bug {
  background-color: #ab2;
}

.rock {
  background-color: #ba6;
}

.ghost {
  background-color: #66b;
}

.dragon {
  background-color: #76e;
}

.dark {
  background-color: #754;
}

.steel {
  background-color: #aab;
}

.fairy {
  background-color: #e9e;
}

.curse {
  background-color: #698;
}

.ugly {
  background-color: #744909;
}

@media (max-width: 768px) {
  #main-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=pokemonType.css.map */